<title>{% block title %}History{% endblock %}</title> {% extends
"shared/base.html" %} {% block content %}
<div class="relative flex items-center justify-center bg-yellow-400 w-full h-12 pt-12 pb-12">
  <p class="text-[80px] nirvana">HISTORY</p>

</div>
<div class="p-20 w-full">
  <ol class="relative border-s border-yellow-400">
    <!-- Event 1 -->
    <li class="mb-10 ms-4 flex items-center">
      <div class="w-1/2 pr-8">
        <div class="absolute w-5 h-5 bg-yellow-600 rounded-full mt-8 -start-2.5 border-white"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-500">20/02/1967</time>
        <h3 class="text-lg font-semibold text-white">Birth of Kurt Cobain</h3>
        <p class="mb-4 text-base font-normal text-gray-400">
          Kurt Cobain, the lead singer and guitarist of Nirvana, was born on February 20, 1967, in Aberdeen, Washington.
          He became one of the most influential figures in the grunge music scene.
        </p>
      </div>
      <div class="w-1/2 flex items-center justify-center">
        <img src="../static/images/KURT_BABY.jpg" width="400px" alt="BabyKurtCobain" class="rounded-lg shadow-md">
      </div>
    </li>

    <!-- Event 2 -->
    <li class="mb-10 ms-4 flex items-center">
      <div class="w-1/2 pr-8">
        <div class="absolute w-5 h-5 bg-yellow-600 rounded-full mt-8 -start-2.5 border-white"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-500">1987</time>
        <h3 class="text-lg font-semibold text-white">Formation of Nirvana</h3>
        <p class="mb-4 text-base font-normal text-gray-400">
          Nirvana was formed in 1987 by Kurt Cobain and bassist Krist Novoselic in Aberdeen, Washington. They
          experimented
          with different drummers before Dave Grohl joined in 1990.
        </p>
      </div>
      <div class="w-1/2 flex items-center justify-center">
        <img src="../static/images/NIRVANA_FORMATION.jpeg" width="600px" alt="NirvanaFormation"
          class="rounded-lg shadow-md">
      </div>
    </li>

    <!-- Event 4 -->
    <li class="mb-10 ms-4 flex items-center">
      <div class="w-1/2 pr-8">
        <div class="absolute w-5 h-5 bg-yellow-600 rounded-full mt-8 -start-2.5 border-white"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-500">1989</time>
        <h3 class="text-lg font-semibold text-white">Release of "Bleach"</h3>
        <p class="mb-4 text-base font-normal text-gray-400">
          Nirvana released their debut studio album "Bleach" on June 15, 1989. The album showcased their raw, gritty
          sound
          and gained them a cult following.
        </p>
      </div>
      <div class="w-1/2 flex items-center justify-center">
        <img src="../static/images/BLEACH_RELEASE.jpeg" width="500px" alt="BleachRelease" class="rounded-lg shadow-md">
      </div>
    </li>

    <!-- Event 5 -->
    <li class="mb-10 ms-4 flex items-center">
      <div class="w-1/2 pr-8">
        <div class="absolute w-5 h-5 bg-yellow-600 rounded-full mt-8 -start-2.5 border-white"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-500">24/09/1991</time>
        <h3 class="text-lg font-semibold text-white">Release of "Nevermind"</h3>
        <p class="mb-4 text-base font-normal text-gray-400">
          Nirvana achieved mainstream success with "Nevermind," which included iconic tracks like "Smells Like Teen
          Spirit" and defined the grunge movement of the 1990s.
        </p>
      </div>
      <div class="w-1/2 flex items-center justify-center">
        <img src="../static/images/NEVERMIND_RELEASE.jpg" width="550px" alt="NevermindRelease"
          class="rounded-lg shadow-md">
      </div>
    </li>

    <!-- Event 6 -->
    <li class="mb-10 ms-4 flex items-center">
      <div class="w-1/2 pr-8">
        <div class="absolute w-5 h-5 bg-yellow-600 rounded-full mt-8 -start-2.5 border-white"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-500">1992</time>
        <h3 class="text-lg font-semibold text-white">Marriage of Kurt Cobain and Courtney Love</h3>
        <p class="mb-4 text-base font-normal text-gray-400">
          Kurt Cobain married Courtney Love on February 24, 1992. The couple had a daughter, Frances Bean Cobain, later
          that year.
        </p>
      </div>
      <div class="w-1/2 flex items-center justify-center">
        <img src="../static/images/MARRIAGE.jpg" width="500px" alt="Marriage" class="rounded-lg shadow-md">
      </div>
    </li>

    <!-- Event 7 -->
    <li class="mb-10 ms-4 flex items-center">
      <div class="w-1/2 pr-8">
        <div class="absolute w-5 h-5 bg-yellow-600 rounded-full mt-8 -start-2.5 border-white"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-500">05/04/1994</time>
        <h3 class="text-lg font-semibold text-white">Death of Kurt Cobain</h3>
        <p class="mb-4 text-base font-normal text-gray-400">
          Kurt Cobain tragically passed away on April 5, 1994. His death marked the end of Nirvana, but the band's music
          continued to influence generations.
        </p>
      </div>
      <div class="w-1/2 flex items-center justify-center">
        <img src="../static/images/KURT_DEATH.jpg" width="600px" alt="KurtDeath" class="rounded-lg shadow-md">
      </div>
    </li>

    <!-- Event 8 -->
    <li class="mb-10 ms-4 flex items-center">
      <div class="w-1/2 pr-8">
        <div class="absolute w-5 h-5 bg-yellow-600 rounded-full mt-8 -start-2.5 border-white"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-500">09/09/2011</time>
        <h3 class="text-lg font-semibold text-white">20th Anniversary of "Nevermind"</h3>
        <p class="mb-4 text-base font-normal text-gray-400">
          A special re-release of "Nevermind" celebrated its 20th anniversary, featuring rare demos, B-sides, and live
          recordings.
        </p>
      </div>
      <div class="w-1/2 flex items-center justify-center">
        <img src="../static/images/NEVERMIND_ANNIVERSARY.jpg" width="420px" alt="NevermindAnniversary"
          class="rounded-lg shadow-md">
      </div>
    </li>
  </ol>
</div>






{% endblock %}