<head>
  <style>
    .pill-button {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 16px;
      padding: 6px;
      background-color: #000000;
      border-radius: 12px;
      cursor: pointer;
      margin-right: 30px;
    }

    .pill-button:hover {
      background-color: rgb(36, 36, 36);
    }
  </style>
  <title>{% block title %}Home{% endblock %}</title>
</head>
{% extends "shared/base_video.html" %} {% block content %}

<div class="relative flex py-5 items-center justify-between bg-yellow-400 w-full h-12 pt-12 pb-12">
  <p class="text-[60px] ml-5 nirvana">ALBUMS</p>
  <p class="pill-button text-yellow-400">
    <a href="/albums">SEE ALL</a>
  </p>
</div>

<div class="grid grid-cols-2 lg:grid-cols-4">
  {% for album in albums %}
  <div class="relative group">
    {% if album.cover_image %}
    <a href="{{ url_for('album', album_id=album.id) }}" class="relative">
      <img class="h-auto max-w-full" src="{{ album.cover_image }}" alt="{{ album.title }}" />
      <div
        class="absolute inset-0 bg-black bg-opacity-70 text-white flex flex-col justify-center items-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
        <p class="text-[20px]">{{ album.release_year }}</p>
        <h3 class="text-[45px] font-bold text-center">{{ album.title.upper() }}</h3>
      </div>
    </a>
    {% endif %}
  </div>
  {% endfor %}
</div>


{% endblock %}